CREATE DATABASE [Meeple] ON  PRIMARY 
( NAME = N'Meeple', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Meeple.mdf' , SIZE = 3072KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Meeple_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Meeple_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [Meeple]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Meeple] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
