<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tangibleidea.meeple"
    android:versionCode="8"
    android:versionName="1.07" >

    <uses-sdk android:minSdkVersion="7" />
    
	

    <application
        android:icon="@drawable/ic_launcher"
        android:launchMode="singleTop"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        
       <activity android:name=".activity.SplashActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
	    >	    
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
		</activity>
        
        <activity android:name=".activity.LoginActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    >
		</activity>
	
        <activity android:name=".activity.AuthActivity"
	    android:label="@string/app_name"
	    android:theme="@android:style/Theme.Light"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
        
		<activity android:name=".activity.SelectUnivActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
            
        <activity android:name=".activity.LobbyActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
                
        <activity android:name=".activity.MenteeJoinActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
        
        <activity android:name=".activity.MentorJoinActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
        
		<activity android:name=".activity.MeepleListActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
        
        <activity android:name=".activity.SettingActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
		
		<activity android:name=".activity.InProgressChatActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
        
        <activity android:name=".activity.FavoriteActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
        
         <activity android:name=".activity.SendMessageActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
        
        <activity android:name=".activity.InChatActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
        
        <activity android:name=".activity.EndChatActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
        
		<activity android:name=".activity.RecentTalkListActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
		
		<activity android:name=".activity.AboutMeepleActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
		
		<activity android:name=".activity.AboutCompanyActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
		
		<activity android:name=".activity.ReportActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
		
		<activity android:name=".activity.ModifyProfileActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
	    ></activity>
		
		<activity android:name=".activity.NoticeActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation">
		</activity>
		
	    <activity android:name=".activity.PopupActivity"
	    android:label="@string/app_name"
	    android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
	    ></activity>
		    
		    
		<!-- 구글 C2DM 브로드 캐스트 권한 (receiver는 application 태그 안에 들어가 있어야 정상적으로 작동) -->
        <receiver
            android:name=".util.C2dm_BroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.tangibleidea.meeple" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.tangibleidea.meeple" />
            </intent-filter>
        </receiver>
		    
	
            
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>

    <!-- 구글 C2DM 권한 -->
    <permission
        android:name="com.tangibleidea.meeple.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- 구글 C2DM 메시지 권한 -->
    <uses-permission android:name="com.tangibleidea.meeple.permission.C2D_MESSAGE" />
    <!-- 구글 C2DM 리시브 권한 -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
            

</manifest>